<aside class="sidebar">
    <nav class="nav-menu">
      <div class="nav-item active">
        <i class="fas fa-chart-line"></i>
        <span routerLink="/">Dashboard</span>
    </div>
      <div class="nav-item" routerLink="/groupes">
        <i class="fas fa-users"></i>
        <span >Groupes</span>
      </div>
      <div class="nav-item" routerLink="/classes">
        <i class="fas fa-chalkboard-teacher" ></i>
        <span>Classes</span>
      </div>
      <div class="nav-item" routerLink="/sujets">
        <i class="fas fa-star"></i>
        <span>Subjects</span>
      </div>
      <div class="nav-item">
        <i class="fas fa-code-branch"></i>
        <span>Merge Request</span>
      </div>
      <div class="nav-item" routerLink="/favoris">
        <i class="fas fa-star"></i>
        <span>Favoris</span>
      </div>
    </nav>
  </aside>
  